.slider{
  position: fixed;
  width: 30%;
  height: 100%;
  margin-left: calc(-30% - 10px);
  background-color: white;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 10px 0px 5px grey;
  
}

.show{
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.hide{
  animation-name: slideOut;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes slideIn{
  
  from{
    margin-left: calc(-30% - 10px);
  }

  to{
    margin-left: 0%;
  }
}

@keyframes slideOut{
  
  from{
    margin-left: 0%;
  }

  to{
    margin-left: calc(-30% - 10px);
  }
}