#mapView{
  width: 100vw;
  height: 100vh;
  background-color: #888888;
}

.center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: white;
}

.mapContainer{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}